.schedule {
    margin-top:0;
    width: 70%;
    text-align: center;
    display: block;
    margin: auto;
    margin-top:20px;
}
.schedule table {
    /*width: 100%;*/
    /*background-color: #000;*/
    display: block;
    margin: auto;
    border-radius: 13px;
    
}
/*table.schedule {
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    border-radius: 13px;
    width: 80%;
}*/

.schedule th {
    background: #ffcc99;
    padding: 3px 0px;
}

.schedule td {
    padding: 5px 5px;
    width: 125px
}
.schedule #tableHead th:first-child {
    border-top-left-radius: 10px;
}

.schedule #tableHead th:last-child {
    border-top-right-radius: 10px;
}

.schedule td {
    background-color: #ffff88;
/*    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
}

.schedule .tb:last-child > th {
    border-bottom-left-radius: 10px;
}
.schedule .tb:last-child > td:last-child {
    border-bottom-right-radius: 10px;
}
/*
h1 {
    text-align: center;
}*/

form {
    text-align: center;
}